{% extends 'web/base.html' %} 
{% load static %} 
{% block title %}Predictions{%endblock title %} 
{% block predictions_active %}current{% endblock predictions_active %} 
{%block head %}
<link rel="stylesheet" href="{% static 'css/condition.css' %}" />
<script src="
    https://cdn.jsdelivr.net/npm/chart.js@4.3.0/dist/chart.umd.min.js
    "></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script>
const record = JSON.parse("{{record|escapejs}}")[0];
</script>
{% endblock head%} {% block body %}
<div class="page">
  <div class="head">
    <div class="head-title">
      <h1>{{record.machine_name}}</h1>
      <p>{{record.machine_name}}</p>
    </div>
    <a href="{% url 'History' %}">
      <div class="history">
        <img src="{% static './img/recent.png' %}" alt="" />
        Recent
      </div>
    </a>
  </div>
  <div class="status">
    <div class="status-card" >
      <h3>Ball Failure</h3>
      <h2 id="B-failure"></h2>
    </div>
    <div class="status-card" >
      <h3>Inner Failure</h3>
      <h2 id="I-failure"></h2>
    </div>
    <div class="status-card" >
      <h3>Inner ball failure</h3>
      <h2 id="IB-failure"></h2>
    </div>
    <div class="status-card" >
      <h3>Inner outer</h3>
      <h2 id="IO-failure"></h2>
    </div>
    <div class="status-card" >
      <h3>Normal</h3>
      <h2 id="Normal"></h2>
    </div>
    <div class="status-card" >
      <h3>Outer</h3>
      <h2 id="O-failure"></h2>
    </div>
    <div class="status-card" >
      <h3>Outer Ball</h3>
      <h2 id="OB-failure"></h2>
    </div>
  </div>
  <div class="details">
    <div class="bargraph">
      <canvas id="bargraph"> </canvas>
    </div>
    <div class="doughnutgraph">
      <div class="graph">
        <canvas id="doughnutgraph"> </canvas>
      </div>
      <div class="legends">
        <div class="legend">
          <div class="color ballCol"></div>
          <div class="label">Ball Failure</div>
        </div>
        <div class="legend">
          <div class="color innerCol"></div>
          <div class="label">Inner Failure</div>
        </div>
        <div class="legend">
          <div class="color innerBallCol"></div>
          <div class="label">Inner ball failure</div>
        </div>
        <div class="legend">
          <div class="color innerOuterCol"></div>
          <div class="label">Inner outer</div>
        </div>
        <div class="legend">
          <div class="color normalCol"></div>
          <div class="label">Normal</div>
        </div>
        <div class="legend">
          <div class="color outerCol"></div>
          <div class="label">Outer</div>
        </div>
        <div class="legend">
          <div class="color outerBallCol"></div>
          <div class="label">Outer Ball</div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer-distributed">
  <div class="footer-right">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="https://github.com/Saisinare/InsightX" target="_blank"
      ><i class="fa fa-github"></i
    ></a>
  </div>
  <div class="footer-left">
    <p class="footer-links">
      <a class="link-1" href="#">Home</a>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Contact Us</a>
      <a href="#">Explore</a>
      <a href="#">Use App</a>
    </p>
    <p>insightX &copy; 2023</p>
  </div>
</footer>
{% endblock body %} {% block script %}
<script src="{% static 'js/navigation.js' %}"></script>
<script src="{% static 'js/condition.js' %}"></script>

{% endblock script %}
