{% extends 'web/base.html' %} {% load static %} 
{% block title%}history{%endblock title %} {% block history_active %}current 
{% endblock history_active %} {%block head %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<link rel="stylesheet" href="{% static 'css/history.css' %}" />
{% endblock head %} {% block body %}

<div class="page">
  <div class="heading-history">
    <h2>Recent Activities</h2>
  </div>
  <div class="filters">
    <form>
      <input type="search" onkeyup="searchTable()" id="search" placeholder="Search Predicted History" required />
    </form>
  </div>
  <div class="table">
    <table id="myTable">
      <thead>
        <tr>
          <th onclick="sortTable(0)">
            Id <img src="{% static '' %}img/arrow-up.png" alt="" class="ascArrow"/><img
              src="{% static '' %}img/down-filled-triangular-arrow.png"
              alt=""
              class="dscArrow"
            />
          </th>
          <th onclick="sortTable(1)">
            Machine Name
            <img src="{% static '' %}img/arrow-up.png" alt="" class="ascArrow"/><img
              src="{% static '' %}img/down-filled-triangular-arrow.png"
              alt=""
              class="dscArrow"
            />
          </th>
          <th onclick="sortTable(2)">
            Test Date <img src="{% static '' %}img/arrow-up.png" alt="" class="ascArrow"/><img
              src="{% static '' %}img/down-filled-triangular-arrow.png"
              alt=""
              class="dscArrow"
            />
          </th>
          <th onclick="sortTable(3)">
            Overall Status
            <img src="{% static '' %}img/arrow-up.png" alt="" class="ascArrow"/><img
              src="{% static '' %}img/down-filled-triangular-arrow.png"
              alt=""
              class="dscArrow"
            />
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr class="row">
          <td id="record_{{record.id}}">{{forloop.counter}}</td>
          <td id="record_name_{{record.id}}">{{record.machine_name}}</td>
          <td id="record_time_{{record.id}}">{{record.timestamp}}</td>
          <td id="record_status_{{record.id}}">{{record.status}}</td>
          <td class="options-btn" id="record_status_{{record.id}}">
            <img src="{% static '' %}img/delete.png" alt="" id="delete-icon" class="delete" />
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock body %} {% block script %}

<script src="{% static '' %}js/history.js"></script>
<script src="{% static '' %}./js/navigation.js"></script>
{% endblock script %}
